---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Space X Launcher.">
	<main>
		<h1 class="text-6xl text-white">Space X Launcher</h1>
	</main>
</Layout>
